Intermediate
Binaries
DerivedDataCache
Saved/*
Saved/*/
!Saved/logs/
Saved/logs/*
Saved/logs/*/
Screenshots
GeneratedSequences

data
SceneText/*.txt
SceneText/*.json
SceneText/**/*.txt
SceneText/**/*.json
RecordedSequences/*.txt
RecordedSequences/*.json
RecordedSequences/**/*.txt
RecordedSequences/**/*.json
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo

# Visual Studio Cache
.vs

# Plugins
Plugins/**/Intermediate
Plugins/**/Binaries

Config/DefaultEditorPerProjectUserSettings.ini

# Builds
Build
!Build/Windows

# Other Files
server.bat

# Steam Deploy
Lib/Steam/*
!Lib/Steam/steamcmd.exe
Lib/SteamScripts/*

!*.keep
!Plugins/Runtime/Substance/Libs/**/*
